<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div>
    <a class="nav-link " href="/addProduct">Add Product</a>
</div>
<div>
    <a class="nav-link " href="/updatePrice">Update Price</a>
</div>
<div>
    <a class="nav-link " href="/removeProduct">Remove Price</a>
</div>
</body>
</html>