<form action="" method="POST">
  <div class="sorting-container">
    <label for="sorting">Sort By:</label>
    <select id="sorting" name="sorting">
      <option value="product-name">Name</option>
      <option value="product-price">Price</option>
    </select>
    <button type="submit" class="btn btn-primary">Sort</button>
  </div>
</form>
